@model IEnumerable<Sales.Models.ModelsViews.SellerFormViewModel>
@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Create</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="bg-success">
            <th>
                @Html.DisplayNameFor(model => model.Seller.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller.BaseSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var iten in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => iten.Seller.Name)
            </td>
        

            <td>
                @Html.DisplayFor(modelItem => iten.Seller.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => iten.Seller.BirthDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => iten.Seller.BaseSalary)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@iten.Seller.Id">Edit</a>
                |
                <a asp-action="Details" asp-route-id="@iten.Seller.Id">Details</a>
                |
                <a asp-action="Delete" asp-route-id="@iten.Seller.Id">Delete</a>
            </td>
        </tr>
    }
</table>